<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    
  </head>
  <body>
    
    <div class="container-fluid" style="background-color: #4da15b; color: #292727; padding: 1em;">
      {{{body}}}
    </div>
    
  </body>
</html>